*{
    margin: 0px;
    padding: 0px;
    
}
#container{
    background-color:rgb(14, 74, 148);
    color: white;
}
.nav{
    display: flex;
    margin: auto;
    height: 70px;
    width: 80%;
}

.logo{
    height: 40px;
    margin-left: 120px;
    margin-top: 10px;
}
.user{
    display: flex;
    margin: auto;
    font-size: 13px;
    gap: 30px;
}
.A{
    margin: auto;
    font-size: 13px;
    margin-left: 40px;
}

.aa{
    color: #FFFFFF;
    text-decoration: none;
}

#big{
    /* border: 1px solid red; */
    background-color: rgb(184, 181, 181);
}

#bigin{
    /* border: 1px solid rgb(10, 8, 8); */
    width: 70%;
    height: auto;
    margin: auto;
}
#bigin>h2{
    color: rgb(14, 74, 148);
    /* margin-top: 10px;
    margin-left: 40px; */
    margin-bottom: 12px;
}

#first{
    height: auto;
    width:98%;
    background-color: #FFFFFF;
    /* border: 1px solid blue; */
    display: flex;
    padding: 12px 12px;
    padding-left: 10px;
    
}

#sec {
    width: 60%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 12px;
  }
  
  #sec>a{
    text-decoration: none;
    color: rgb(0,101,184);
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight:700;
    font-size: 17px;
    padding-left: 2%;
  
  }

  #third{
      display: flex;
      background-color: #FFFFFF;
      width: 60%;
      margin-top: 12px;
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 25px;
      
  }
  #third_1{
          margin-left: 10px;
  }

  #fourth{
    background-color: #FFFFFF;
    width: 60%;
      margin-top: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height:30px;
  }
  #fourth_1{
      height: auto;
      width: 95%;
      border: 1px solid black;
      padding-left: 10px;
  }
  #fourth_2{
      height: 60px;
      width: 92%;
      /* border: 1px solid red; */
      padding-top: 10px;
      padding-left: 10px;
      background-color: rgb(115, 215, 115);
      margin-left: 15px;
  }
  #fourth_3{
    height: 60px;
    width: 92%;
    /* border: 1px solid red; */
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(225, 235, 225);
    margin-left: 15px;
}

#five{
    background-color: #FFFFFF;
    width: 60%;
      margin-top: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height:30px;

}
#six{
    background-color: #FFFFFF;
    width: 60%;
    margin-top: 12px;
    padding-top: 20px;
}

.box {
    width: 95%;
    margin-top: 2%;
    /* height: 600px; */
    /* border: solid red; */
    padding-left: 5%;
    padding-top: 1%;
    color: gray;
    background-color: white;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  }
  .box h1 {
    font-size: 20px;
  }
  .box p {
    font-size: 13px;
  }
  #btn {
    color: white;
    background-color: rgb(219, 52, 96);
    font-size: 17px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 5px;
  }
  .box a{
      color: rgb(0,101,200);
  }
  
  li{
    padding-bottom: 2%;
  }



  .right {
    width: 30%;
    height: 60%;
     /* border: 1px solid black;  */
    display: flex;
    flex-direction: column;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    /* justify-content: space-between; */
  }
  
  #last {
    width: 100%;
    /* height: 44%; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  #last_img {
    width: 100%;
    /* height: 30%; */
    /* border: 1px solid black; */
  }
  .right img {
    width: 100%;
    height: 100%;
  }
  #last_cont {
    width: 95%;
    /* height: 65%; */
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    padding-left: 5%;
    font-weight: 700;
    margin-top: -5px;
  }
  
  #last_cont div {
    margin-bottom: 3%;
  }
  
  #second {
    width: 90%;
    /* height: 55%; */
    /* border: 1px solid black; */
    font-size: 10px;
    padding: 0 5% 0 5%;
    margin-top: 5%;
    font-size: 15px;
    background-color: white;
  }
  
  .show {
    /* display: none; */
    border: none;
    height: 0px;
    width: 0px;
  }
  
  #room {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }
  
  #room_1, #tax, #hotel, #total {
    display: flex;
    justify-content: space-between;
  }
  
  #dis {
    background-color: green; 
    font-weight: 700;
     width: 35%;
     border-radius: 3px;
     margin: 4% 0 6% 0;
  }
  
  #mix div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4%;
  }



  #wrong_number,#wrong_last_name,#wrong_first_name,#wrong_name,#wrong_carddetails,#wrong_expirymonth,#wrong_expiryyear,#wrong_securitycode,#wrong_zipcode{
    color: red;
    font-weight: lighter;
    font-size: small;
}






